<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Article to Bustle</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Article Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Article Teaser:</label>
        <br>
        <input #newTeaser>
      </div>

      <div>
        <label>Article Author:</label>
        <br>
        <input #newAuthor>
      </div>

      <div>
        <label>Article Body:</label>
        <br>
        <textarea #newBody></textarea>
      </div>

      <div>
        <label>Article Image URL:</label>
        <br>
        <input #newImgURL>
      </div>
      <button (click)="submitForm(newTitle.value, newTeaser.value, newAuthor.value, newBody.value, newImgURL.value); newTitle.value=''; newTeaser.value=''; newAuthor.value=''; newBody.value=''; newImgURL.value=''">Add</button>
    </div>
  </div>
</div>
