img {
  height: 300px;
  width: 250px;
}

.homeDisplay {
  width: 320px;
  height: 500px;
  border: 2px solid pink;
  padding: 15px;
  margin: 15px;
  float: left;
}
.homeDisplay img {
  display: block;
  margin: 0 auto;
}
.homeDisplay {
  text-align: center;
}
